* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 2rem;
    font-family: sans-serif;
}

.form-container {
    max-width: 500px;
    margin: auto;
}

.form-group {
    margin: 0.5rem 0;
}

.form-wrap .form-group label {
    display: block;
}

.form-wrap .form-group input {
    width: 100%;
    padding: 0.25rem;
}

#submit {
    width: 100%;
    margin: 1rem 0;
    padding: 0.25rem;
}

.card {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #000;
}

.center {
    margin: auto;
    text-align: center;
}